
/* small mscreen */

@media (max-width: 559px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(55, 55, 55);
  }
  
  
  a {
    text-decoration: none;
    color: rgb(55, 55, 55); 
  
  }
  
  a:visited {
    color: rgb(55, 55, 55); 
  }
  
  
  header {
    height: 250px;
    display: block;
    margin-top: 30px;
    text-align: center;
  }
  
  header p {
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
    margin-bottom: 4px;
  }
  
  
  header li {
    font-size: 11px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: bottom;
  }
  
  #logo {
    font-size: 40px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  header p {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 4px;
  }
  
  #navi a:hover {
  
    border-bottom: 1px solid gray;
  }
  
  
  .header p {
    display: inline-block;
    margin: 0 8px;
  }
  
  #navi {
    padding: 0;
    padding-top: 30px;
    display: inline-block;
    vertical-align: bottom;
  }
  
  #navi li{
    font-weight: bold;
    padding-left: 8px;
    height: 15px;
  }
  
  .sns-head  {
    padding: 0;
    margin: 30px 0 0 0px;
    display: block;
    text-align: center;
  
  }
  
  .sns-head li img {
    height: 20px;
    width: 20px;
    padding: 0 8px;
  }
  
  .container {
    margin-left: 30px;
  }
  
  footer {
    max-height: 40px;
    margin: 20px 10px 10px 16px;
    display: block;
  }
  
  .last-update {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 40px;
  }
  
  .deco {
    width: 100%;
    margin: 8px;
    margin-top: 60px;
    margin-bottom: 0;
    border-bottom: 1px dashed rgb(200, 200, 200);
  }
  
  .copyright p {
    padding-left: 15px;
    margin: 0;
  }
  
  .copyright {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 8px;
  }
  
  
  .heading h1 {
    margin-top: 60px;
    height: 60px;
    left: -40px;
    position: relative;
    text-align: center;
  }
  
  .summary {
    font-weight: bold;
    margin-top: 30px;
    padding: 0;
    padding-right:12px;
  }
  
  .heading p {
    vertical-align: middle;
  }
  
  .heading a {
    font-weight: bold;
  }
  
  .heading a:hover {
    border-bottom: 1px solid gray;
    cursor: pointer;
  }
  
  img {
    height: 50px;
    width: 50px;
    vertical-align: bottom;
  }
  
  
  section {
    font-size: 11px;
    padding: 0 12px;
  }
}


/* large mscreen */
@media (min-width: 560px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(55, 55, 55);
    width: 600px;
  }
  
  
  a {
    text-decoration: none;
    color: rgb(55, 55, 55); 
  
  }
  
  a:visited {
    color: rgb(55, 55, 55); 
  }
  
  
  header {
    height: 250px;
    display: block;
    margin-top: 30px;
    text-align: center;
  }
  
  header p {
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
    margin-bottom: 4px;
  }
  
  
  header li {
    font-size: 12px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: bottom;
  }
  
  #logo {
    font-size: 40px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  header p {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 4px;
  }
  
  #navi a:hover {
  
    border-bottom: 1px solid gray;
  }
  
  
  .header p {
    display: inline-block;
    margin: 0 8px;
  }
  
  #navi {
    padding: 0;
    padding-top: 30px;
    display: inline-block;
    vertical-align: bottom;
  }
  
  #navi li{
    font-weight: bold;
    padding-left: 8px;
    height: 15px;
  }
  
  .sns-head  {
    padding: 0;
    margin: 30px 0 0 0px;
    display: block;
    text-align: center;
  
  }
  
  .sns-head li img {
    height: 20px;
    width: 20px;
    padding: 0 8px;
  }
  
  .container {
    margin-left: 30px;
  }
  
  footer {
    max-height: 40px;
    margin: 20px 10px 10px 16px;
    display: block;
  }
  
  .last-update {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 40px;
  }
  
  .deco {
    width: 100%;
    margin: 8px;
    margin-top: 60px;
    margin-bottom: 0;
    border-bottom: 1px dashed rgb(200, 200, 200);
  }
  
  .copyright p {
    padding-left: 15px;
    margin: 0;
  }
  
  .copyright {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 8px;
  }
  
  
  .heading h1 {
    margin-top: 60px;
    height: 60px;
    left: -40px;
    position: relative;
    text-align: center;
  }
  
  .summary {
    font-weight: bold;
    margin-top: 30px;
    padding: 0;
    padding-right:12px;
  }
  
  .heading p {
    vertical-align: middle;
  }
  
  .heading a {
    font-weight: bold;
  }
  
  .heading a:hover {
    border-bottom: 1px solid gray;
    cursor: pointer;
  }
  
  img {
    height: 50px;
    width: 50px;
    vertical-align: bottom;
  }
  
  
  section {
    font-size: 11px;
    padding: 0 12px;
  }
}
